In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib.ticker as ticker
import io
import os
import glob

import numpy as np
import scipy
import seaborn as sns

In [9]:
df_death_state= pd.read_csv('Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age__Provisional_2020-2023.csv')
df_death_state.sample(5)

,Data As Of,Start Date,End Date,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
494452,01/15/2023,10/01/2021,10/31/2021,By Month,2021.0,10.0,West Virginia,All other conditions and causes (residual),All other conditions and causes (residual),"A00-A39, A42-B99, D00-E07, E15-E64, E70-E90, F...",45-54,38.0,55.0,NaN
291146,01/15/2023,01/01/2021,01/31/2021,By Month,2021.0,1.0,Montana,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,0.0,0.0,NaN
420339,01/15/2023,04/01/2020,04/30/2020,By Month,2020.0,4.0,South Carolina,Respiratory diseases,Respiratory arrest,R09.2,Not stated,0.0,0.0,NaN
225580,01/15/2023,05/01/2020,05/31/2020,By Month,2020.0,5.0,Louisiana,Circulatory diseases,Hypertensive diseases,I10-I15,Not stated,0.0,0.0,NaN
106804,01/15/2023,07/01/2020,07/31/2020,By Month,2020.0,7.0,California,Circulatory diseases,Ischemic heart disease,I20-I25,55-64,46.0,50.0,NaN

In [7]:
df_death_state.shape

(520560, 14)

In [10]:
df_death_state.describe()

                Year          Month  COVID-19 Deaths  Number of Mentions
count  508140.000000  459000.000000     3.684070e+05        3.732440e+05
mean     2021.093518       6.357647     1.357617e+02        1.457864e+02
std         0.902100       3.517235     3.133849e+03        3.359491e+03
min      2020.000000       1.000000     0.000000e+00        0.000000e+00
25%      2020.000000       3.000000     0.000000e+00        0.000000e+00
50%      2021.000000       6.000000     0.000000e+00        0.000000e+00
75%      2022.000000       9.000000     2.100000e+01        2.200000e+01
max      2023.000000      12.000000     1.093445e+06        1.093445e+06

In [11]:
df_death_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520560 entries, 0 to 520559
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Data As Of          520560 non-null  object
 1   Start Date          520560 non-null  object
 2   End Date            520560 non-null  object
 3   Group               520560 non-null  object
 4   Year                508140 non-null  float64
 5   Month               459000 non-null  float64
 6   State               520560 non-null  object
 7   Condition Group     520560 non-null  object
 8   Condition           520560 non-null  object
 9   ICD10_codes         520560 non-null  object
 10  Age Group           520560 non-null  object
 11  COVID-19 Deaths     368407 non-null  float64
 12  Number of Mentions  373244 non-null  float64
 13  Flag                152153 non-null  object
dtypes: float64(4), object(10)
memory usage: 55.6+ MB

In [25]:
df2=df_death_state[df_death_state["COVID-19 Deaths"]>0]
df2.sample(5)

,Data As Of,Start Date,End Date,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
34859,01/15/2023,01/01/2023,01/14/2023,By Year,2023.0,NaN,Minnesota,Malignant neoplasms,Malignant neoplasms,C00-C97,All Ages,10.0,13.0,NaN
264066,01/15/2023,02/01/2021,02/28/2021,By Month,2021.0,2.0,Michigan,Vascular and unspecified dementia,Vascular and unspecified dementia,"F01, F03",All Ages,43.0,43.0,NaN
324787,01/15/2023,12/01/2021,12/31/2021,By Month,2021.0,12.0,New Hampshire,COVID-19,COVID-19,U071,35-44,13.0,13.0,NaN
65156,01/15/2023,08/01/2020,08/31/2020,By Month,2020.0,8.0,United States,Circulatory diseases,Cardiac arrhythmia,"I44, I45, I47-I49",85+,791.0,808.0,NaN
365697,01/15/2023,03/01/2021,03/31/2021,By Month,2021.0,3.0,North Carolina,Alzheimer disease,Alzheimer disease,G30,All Ages,16.0,16.0,NaN